body {
  text-align: center;
}
game{
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  background-color: #b0e0e6
}
.game{
    display: none;
}
table {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background-color: #b0e0e6
}  
/*p2 {
  text-align: right; vertical-align:text-top;
}*/