* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

  .game{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  background-color: #B0E0E6;
  display: none;
  max-height: 500px;
  }
    #btn2{
      position: relative;
      top: 14px;
    }

    #playArea{
      margin-left: auto;
      margin-right: auto;
      max-width: 700px;
      max-height: 500px
    }
      .names{
        position: relative;
        max-width: 350px;
        top: -15px;
        left: 175px;
      }
          #nameon{
            float: left;
          }
          #nametw{
            float: right;
          }
      .cards{
        position: relative;
        top: 10px
      }
        .left{
          position: relative;
          max-width: 350px;
          max-height: 200px;
          float: left;
        }
          #deckOne{
            float: left;
          }
          #onecardnum{
            float: left;
          }
          #onecard{
            float: left;
          }
        .right{
          position: relative;
          max-width: 350px;
          max-height: 200px;
          float: right;
        }


/*p2 {
  text-align: right; vertical-align:text-top;
}*/