h1, div, h3 {
  text-align: center;
}
btn2 {
  display: none;  
}
game{
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  background-color: #b0e0e6
}
table {margin-left: auto;
       margin-right: auto;
       width: 50%;
       background-color: #b0e0e6
}  
/*p2 {
  text-align: right; vertical-align:text-top;
}*/